.footer {
  width: 100%;
  height: 170px;
  background-color: #fff;
  .container {
    width: 95%;
    height: inherit;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      color: $third-color;
      font-size: 30px;
      border: solid 2px black;
      padding: 10px 20px;
      transition: 0.3s ease-in-out;
    }
    .logo:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
    .nav-links {
      padding-left: 230px;
      display: flex;
      align-items: center;
      a li {
        margin: 0 10px;
        padding: 0 10px;
        transition: 0.3s ease-in-out;
      }
      a li:hover {
        color: $third-color;
      }
    }
    .social-links {
      padding-left: 160px;
      display: flex;
      align-items: center;

      a li {
        margin: 0 10px;
        padding: 0 10px;
        transition: 0.3s ease-in-out;
      }
      img {
        width: 25px;
        height: 25px;
        margin: 0 20px;
        transition: 0.3s ease-in-out;
        
      }
      img:hover{
        transform: translateY(-15px);
      }
    }
  }
}
